{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <p class="form-text text-muted" style="font-size: 10px">Password length of at least 8 characters </br> 
            (1x lowercase, 1x uppercase, 1x number, 1x special)</p>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}